body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(195, 188, 235, 0.918);
}
.employeeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.addEmployee{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
    height: 30vh;
}
input {
    height: 7vh;
    width: 20vw;
    border-radius: 1vw;
}
label{
    width: 4vw;
    margin-right:2vw ;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7vh;
    color: rgb(32, 22, 4);
}
#btnAdd, .btnEdit{
    background-color: rgb(7, 240, 46);
}
#btnCancel, .btnDelete{
    background-color: red;
}
.id {
    margin: 0rem 25rem 0rem 25rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    margin: 0vw 2vw 2vw 0vw;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 2rem;
}
.btnEdit, .btnDelete {
    width: 30%;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0rem 1rem 2rem 1rem;
}