body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
}
.container {
    width: 23vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw 1vw 1vw 1vw;
    border: black 0.5vw solid;
    border-radius: 2vw;
    background-color: darkgray;
}
.btnNumber{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bodyButton {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.btnOperator {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.display {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    border: black 0.2vw solid;
    border-radius: 1vw;
    background-color: aliceblue;
}
.displayOperator {
    width: 100%;
    height: 40%;
    font-size: 1.5vw;
    text-align: end;
}
.displayResult {
    width: 100%;
    height: 60%;
    font-size: 2vw;
    text-align: end;
}
#btn_0,
#btn_1,
#btn_2,
#btn_3,
#btn_4,
#btn_5,
#btn_6,
#btn_7,
#btn_8,
#btn_9,
#btn_point,
#btn_clear {
    width: 30%;
    height: 23%;
    margin: 2% 2% 0 0;
    border-radius: 45%;
    background-color: gray;
    font-size: 2vw;
}
#btn_clearAll,
#btn_sum,
#btn_rest,
#btn_split,
#btn_multiplication,
#btn_total {
    height: 16%;
    margin-top: 3%;
    border-radius: 45%;
    font-size: 2vw;
    background-color: cornflowerblue;
}
